parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$pullRequestUrls of method MarekNocon\\\\ComposerCheckout\\\\Command\\\\BaseCommand\\:\\:validateInput\\(\\) expects array\\<string\\>, array\\<string\\>\\|string\\|null given\\.$#"
			count: 1
			path: src/Command/ApplyPatchCommand.php

		-
			message: "#^Parameter \\#1 \\$pullRequestUrls of method MarekNocon\\\\ComposerCheckout\\\\Command\\\\BaseCommand\\:\\:validateInput\\(\\) expects array\\<string\\>, array\\<string\\>\\|string\\|null given\\.$#"
			count: 1
			path: src/Command/CheckoutCommand.php

